include /winning/winmid/redis/conf/common.conf
port 6382
pidfile /winning/winmid/redis/logs/redis_6382.pid
logfile /winning/winmid/redis/logs/redis_6382.log
dir /winning/winmid/redis/data
appendfilename appendonly_6382.aof

masterauth winning.2019
cluster-enabled yes
cluster-config-file /winning/winmid/redis/data/nodes_6382.conf
cluster-node-timeout 2000
