{
   "hostname": "{{hostvars[inventory_hostname].host_id}}",
   "ip": "{{hostvars[inventory_hostname].ansible_ssh_host|default(inventory_hostname,true)}}",
   "debug":false,
   "transfer":{
   "addrs":[
      "{{ops_addr}}:8433"
		],
		"interval":30,
		"enabled":true,
		"timeout":1000
	},
	"plugin":{
		"plugins":[
			"time",
			"midware"
		],
		"dir":"./plugin",
		"logs":"./logs",
		"enabled":true
	},
	"minStep":30,
	"http":{
		"backdoor":false,
		"enabled":true,
		"listen":":1981"
	},
	"ignore":{
		"load.5min":true,
		"disk.io.read_requests":true,
		"mem.swapfree":true,
		"kernel.files.left":true,
		"df.inodes.used":true,
		"net.if.in.bits":true,
		"df.inodes.total":true,
		"snmp.Udp.SndbufErrors":true,
		"TcpExt.TCPBacklogDrop":true,
		"net.if.in.multicast":true,
		"TcpExt.TCPAbortOnMemory":true,
		"net.if.out.dropped":true,
		"TcpExt.TCPAbortOnTimeout":true,
		"ss.slabinfo.timewait":true,
		"df.bytes.used":true,
		"disk.io.ios_in_progress":true,
		"snmp.Udp.InDatagrams":true,
		"url.check.health":true,
		"snmp.Udp.NoPorts":true,
		"gpu.count":true,
		"disk.io.write_merged":true,
		"disk.io.avgrq_sz":true,
		"TcpExt.TCPLoss":true,
		"disk.io.read_merged":true,
		"kernel.maxfiles":true,
		"df.bytes.free.percent":true,
		"net.if.total.bytes":true,
		"gpu.util.avg":true,
		"TcpExt.ArpFilter":true,
		"TcpExt.TCPMemoryPressures":true,
		"TcpExt.TW":true,
		"cpu.softirq":true,
		"net.if.total.dropped":true,
		"net.if.in.fifo.errs":true,
		"TcpExt.TCPMinTTLDrop":true,
		"net.if.speed.bits":true,
		"TcpExt.TCPPrequeueDropped":true,
		"cpu.busy":true,
		"snmp.Udp.OutDatagrams":true,
		"df.inodes.free.percent":true,
		"TcpExt.TCPDSACKUndo":true,
		"gpu.fan.speed":true,
		"TcpExt.TCPLostRetransmit":true,
		"gpu.power.usage":true,
		"TcpExt.ListenDrops":true,
		"mem.swapused.percent":true,
		"TcpExt.TCPLossFailures":true,
		"TcpExt.LockDroppedIcmps":true,
		"gpu.memory.util":true,
		"disk.io.msec_total":true,
		"mem.memused":true,
		"TcpExt.DelayedACKLocked":true,
		"net.if.out.bits":true,
		"snmp.Udp.InErrors":true,
		"gpu.temperature":true,
		"kernel.maxproc":true,
		"du.bs":true,
		"ss.synrecv":true,
		"snmp.Udp.InCsumErrors":true,
		"df.statistics.used":true,
		"cpu.guest":true,
		"TcpExt.TCPSpuriousRTOs":true,
		"disk.io.msec_write":true,
		"disk.io.write_requests":true,
		"cpu.irq":true,
		"gpu.memory.total":true,
		"load.15min":true,
		"TcpExt.ListenOverflows":true,
		"disk.io.msec_weighted_total":true,
		"net.if.in.compressed":true,
		"mem.memused.percent":true,
		"disk.io.msec_read":true,
		"disk.io.util":true,
		"net.if.in.percent":true,
		"gpu.memory.util.avg":true,
		"df.statistics.total":true,
		"cpu.steal":true,
		"gpu.memory.used":true,
		"TcpExt.TCPTSReorder":true,
		"TcpExt.TCPTimeouts":true,
		"gpu.util":true,
		"net.if.out.collisions":true,
		"ss.orphaned":true,
		"disk.io.write_sectors":true,
		"net.if.out.percent":true,
		"disk.io.avgqu-sz":true,
		"df.inodes.free":true,
		"ss.estab":true,
		"cpu.nice":true,
		"net.if.out.compressed":true,
		"ss.timewait":true,
		"TcpExt.TCPFastRetrans":true,
		"TcpExt.TCPAbortFailed":true,
		"snmp.Udp.RcvbufErrors":true,
		"net.if.in.frame.errs":true,
		"net.if.out.fifo.errs":true,
		"net.if.total.errors":true,
		"cpu.switches":true,
		"df.statistics.used.percent":true,
		"ss.closed":true,
		"net.if.in.dropped":true,
		"kernel.files.allocated":true,
		"disk.io.read_sectors":true,
		"net.if.out.carrier.errs":true,
		"TcpExt.TCPSchedulerFailed":true,
		"net.if.total.packets":true,
		"mem.swapfree.percent":true,
		"df.bytes.total":true,
		"TcpExt.PruneCalled":true,
		"net.if.total.bits":true
	},
	"default_tags":{},
	"ports":[
		22
	],
	"collector":{
		"mountPoint":[],
                "ifacePrefix": ["{{hostvars[inventory_hostname].netif}}"]
	}
}
